<h1> Hola Usuario!</h1>

<p class="alumnos"> Esto puedes hacer con la informacion de los alumnos:</p>
<button mat-stroked-button class="registrar-alumnos" routerLink="alumnos/registrar-alumnos"> 
    <mat-icon>add</mat-icon>    
    Registrar Alumnos
</button>

<button mat-stroked-button class="mostrar-alumnos" routerLink="alumnos/listar-alumnos"> 
    <mat-icon>list</mat-icon>
    Ver Alumnos 
</button>

<p class="profesores"> Esto puedes hacer con la informacion de los profesores:</p>
<button mat-stroked-button class="registrar-profesores"> 
    <mat-icon>add</mat-icon>
    Registrar Profesores
</button>
<button mat-stroked-button class="mostrar-profesores"> 
    <mat-icon>list</mat-icon>
    Ver Profesores 
</button>

<p class="cursos"> Esto puedes hacer con la informacion de los cursos:</p>
<button mat-stroked-button class="registrar-cursos"> 
    <mat-icon>add</mat-icon>
    Registrar Cursos
</button>

<button mat-stroked-button class="mostrar-cursos"> 
    <mat-icon>list</mat-icon>
    Ver Cursos 
</button>


<p class="matricula"> Esto puedes hacer con la informacion de la matricula:</p>
<button mat-stroked-button class="registrar-matricula"> 
    <mat-icon>add</mat-icon>
    Registrar Matricula
</button>

<button mat-stroked-button class="mostrar-matricula"> 
    <mat-icon>list</mat-icon>
    Ver Matricula 
</button>

<p class="reportes"> ¿Necesitas un reporte?</p>
<button mat-stroked-button class="obtener-reporte">
    Obtener Reporte
</button>


