<h1>Editar alumno</h1>
<div mat-dialog-content>
    <form [formGroup]="myForm">

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombres" matInput>
        </mat-form-field>



        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellidos" matInput>
        </mat-form-field>



        <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input formControlName="dni" matInput>
        </mat-form-field>



        <mat-form-field appearance="outline">
            <mat-label>Codigo</mat-label>
            <input formControlName="codigo" matInput>
        </mat-form-field>

    </form>


    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close routerLink="/">Close</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary"
            (click)="updateAlumno()">Editar</button>
    </div>
</div>

<!--<div class="row">
    <div class="col-lg-6">
      <h2>Editar Alumno</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <form [formGroup]="myForm" autocomplete="off">
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="16">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombres" />
          </mat-form-field>
          <div
            *ngIf="
              myForm.get('nombre')?.hasError('required') &&
              myForm.get('nombre')?.touched
            "
            style="margin-top: -20px"
          >
            <span class="mda-form-msg"> This field is required </span>
          </div>
          <div
            *ngIf="myForm.get('title')?.hasError('maxlength')"
            style="margin-top: -20px"
          >
            <span class="mda-form-msg">
              This field must have a maximum of 60 characters
            </span>
          </div>
        </div>
  
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="16">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellidos" />
          </mat-form-field>
          <div
            *ngIf="
              myForm.get('apellido')?.hasError('required') &&
              myForm.get('apellido')?.touched
            "
            style="margin-top: -20px"
          >
            <span class="mda-form-msg">This field is required </span>
          </div>
        </div>
  
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="16">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" />
          </mat-form-field>
          <div
            *ngIf="
              myForm.get('dni')?.hasError('dni') &&
              myForm.get('dni')?.touched
            "
            style="margin-top: -20px"
          >
            <span class="mda-form-msg">This field is required </span>
          </div>
        </div>
  
        <div class="col-lg-12">
          <mat-form-field class="example-container" [style.fontSize.px]="16">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="codigo" />
          </mat-form-field>
        </div>
  
        <div class="col-lg-12">
          <button
            class="btn btn-success btn-lg float-right"
            [disabled]="myForm.invalid"
            type="button"
            style="margin-left: 10 px"
            (click)="updateAlumno()"
          >
            Update
          </button>
          <button
            class="btn btn-secondary btn-lg float-right"
            type="button"
            routerLink="/alumnos/listar-alumnos"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>-->

