.circulo {
    width: 566px;
    height: 522px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, #536976 0%, #292E49 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20vh;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;
}

p {
    color: white;
    font-size: 64px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 77px;
    word-wrap: break-word;
    font-weight: bolder;
    text-align: center;
}

.formulario {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.formulario-registro {
    margin-top: 2vh;
    float: right;
    top: -120%;
    transform: translateY(120%);
    margin-right: 25%;
}

.Registro {
    color: whitesmoke;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.btn-registrar {
    color: whitesmoke;
    font-size: 20px;
    background: #336B87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1%;
    border-color: transparent;
}

a:link{

    border-color: transparent;
    text-decoration: underline; 
}



