<div class="circulo">
    <p> MATRICULA TESTERS </p>
</div>

<div class="formulario-registro">
    <span class="Registro">Inicio de Sesión</span>
    <form class="formulario" [formGroup]="myForm">
        <!--Input para el nombre-->
        <mat-form-field class="nombre">
            <input formControlName = "nombre" matInput placeholder="Nombre">
        </mat-form-field>
        <!--Input para la contraseña-->
        <mat-form-field class="contraseña">
            <input  formControlName = "passwor"type="password" matInput placeholder="Contraseña">
        </mat-form-field>
        <button mat-stroked-button class="btn-registrar"> Enviar </button>
    </form>
</div>