<div class="circulo">
    <p> MATRICULA TESTERS </p>
</div>

<div class="formulario-registro">
    <span class="Registro">Inicio de Sesión</span>
    <form class="formulario">
        <!--Input para el nombre-->
        <mat-form-field class="nombre">
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <!--Input para la contraseña-->
        <mat-form-field class="contraseña">
            <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>
        <button mat-stroked-button class="btn-registrar" routerLink="/"> Enviar </button>
    </form>
</div>