<div mat-dialog-content>

  <form [formGroup]="myForm">

      <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput>
      </mat-form-field>



      <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input formControlName="apellido" matInput>
      </mat-form-field>



      <mat-form-field appearance="outline">
          <mat-label>DNI</mat-label>
          <input formControlName="dni" matInput>
      </mat-form-field>



      <mat-form-field appearance="outline">
          <mat-label>Codigo</mat-label>
          <input formControlName="codigo" matInput>
      </mat-form-field>

  </form>


  <div mat-dialog-action [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close routerLink="/">Close</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary"(click)="saveAlumnos()" >{{actionBtn}}</button>
  </div>

</div>