<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Matricula Testers</span>
        <span class = "spacer"></span>
        <button mat-stroked-button class = "Alumnos" routerLink="alumnos/registrar-alumnos"> Alumnos</button>
        <button mat-stroked-button class = "Profesor"> Profesor</button>
        <button mat-stroked-button class = "Cursos"> Cursos</button>
        <button mat-stroked-button class = "Matricula"> Matricula</button>
        <button mat-stroked-button class = "Reportes"> Reportes</button>
    </mat-toolbar-row>
</mat-toolbar>